/*Header*/


.header {
		display: flex;
		justify-content: space-between;
}

.logo {
	display: flex;
	justify-content: flex-start;
}

.logo__img {
	margin-top: 24px;
	margin-left: 42.72px;
	width: 166px;
	height: 51px;
}

.header__menu {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.header__menu_side {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}

.menu__item {
  margin-left: 40px;
	font-weight: 600;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	white-space: nowrap;
}

.menu__item:hover {
	color: #E51937;
	border-bottom: 3px solid #E51937;
	border-bottom-right-radius: 10px 3px;
	border-bottom-left-radius: 10px 3px;
}

.menu__item_burger {
 	margin: 42px 60px 0 30px;
}

@media screen and (max-width: 960px) {
.menu__item {
        display: none
}
.menu__item_burger {
 				margin-right: 24px;
    }
.logo__img {
	margin: 24px 0 0 15px;
}    
		}